scrap
*iml
.idea
output
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

image_run.sh
rebuild.sh
run-algorithm.sh
run.sh
inspect.json
jar_run.sh
run_algorithm.sh